<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
                src="{{photoCover}}" 
                alt="segunda_imagem" 
                height="200px"
                width="100%"
                srcset=""            
                />
        </div>
        <div class= "small-card__textos">
            <div href="" class="small-card__title">
            <h1> {{cardTitle}}</h1>
            </div>
            <div href="" class="small-card__description">
            <p> {{cardDescription}}</p>
            </div>
        </div>  
    
</div>
<hr/>